.btn-plately {
    background-color: var(--accent) !important;
    border: 1px solid var(--accent) !important;
    color: #fff !important;
}

.btn-outline-plately {
    border: 1px solid var(--accent) !important;
    color: var(--accent) !important;
}