.form-check-input-plately:checked {
    background-color: var(--accent) !important;
    border-color: var(--accent) !important;
}

.form-check-input-plately:focus {
    border-color: var(--accent) !important;
    box-shadow: 0 0 0 0.25rem rgba(76, 175, 80, 0.25) !important;
}

.form-control-plately:focus {
    border-color: var(--accent) !important;
    box-shadow: 0 0 0 0.25rem
        color-mix(in srgb, var(--accent) 25%, transparent) !important;
}

.form-select-plately:focus {
    border-color: var(--accent) !important;
    box-shadow: 0 0 0 0.25rem
        color-mix(in srgb, var(--accent) 25%, transparent) !important;
}